<div class="menu content container grid grid--1x2-content">
        
    <div class="content__text">

<h2 class="content__title">our menu</h2>

<h3 class="menu__subject content__subject">bread basket</h3>

<p>Loreelit.lores, unde incidunt. Repelsam. </p>

<h3 class="menu__subject content__subject">belgian waffle</h3>

<p>Loreelit.lores, unde incidunt. Repelsam. </p>

<h3 class="menu__subject content__subject">blueberry pancake</h3>

<p>Loreelit.lores, unde incidunt. Repelsam.</p>






    </div>
    <img class="content__image menu__image" src="images/vegetable.jpg" alt="food picture">

    </div>