<div class="content container grid grid--1x2-content">
    <img class="content__image" src="images/food.jpg" alt="food picture">
    <div class="content__text">
<h2 class="content__title">about catering </h2>

<h3 class="content__subject">tradition since 1889</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, cum dolor! Illo animi, quis tempore optio quos rerum repudiandae eius. Dolores, unde incidunt. Repellendus vel quasi velit quo sunt laboriosam.

</p>


    </div>
