<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="mosh.css">
</head>
<body>
  

<nav class="nav">
  <div class="nav__header">
     <img src="images/home.svg" alt="" class="icon icon--white"> 
      <img  src="images/menu.svg" alt="" class="icon icon--white nav__togler">
  </div>
  <ul class="nav__list">
<li class="nav__list-home"><img src="images/home.svg" alt="" class="icon icon--white"></li>
<li class="nav__list__item" ><a href="">About</a></li>
<li class="nav__list__item"><a href="">Menu</a></li>
<li class="nav__list__item"><a href="">Contact</a></li>

  </ul>

</nav>
</body>
</html>